<mat-toolbar color="primary" class="navbar">
    <div>BLOOD BANK MANAGEMENT SYSTEM</div>
    <div>
      <button mat-button><a routerLink="/requesterApproval" class="btn btn-primary active" routerLinkActive="active">REQUESTER APPROVALS</a></button>
      <button mat-button><a routerLink="/donorApproval" class="btn btn-primary active" routerLinkActive="active">DONOR APPROVALS</a></button>
    </div>
  </mat-toolbar>