<button mat-button><a routerLink="/rreg" role="button">REGISTER</a></button><br/>
<div style="width: 300px;">
    <form (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="requesterId">requesterId</label>
        <input type="text" class="form-control" id="requesterId" required [(ngModel)]="requesterId" name="requesterId">
      </div>
   
      <div class="btn-group">
        <button type="submit" class="btn btn-success">Submit</button>
      </div>
    </form>
</div>
  <br/>
  <div>
      <table class="table table-striped">
          <thead>
              <tr>
               <th>Donor ID</th>
                <th>Patient Name</th>
                <th>Required BloodGroup</th>
                <th>city</th>
                <th>Status</th>
              </tr>
            </thead>
      <tbody>
        <tr>
          <td>{{requester.requesterId}}</td>
          <td>{{requester.patientName}}</td>
          <td>{{requester.requiredBloodGroup}}</td>
          <td>{{requester.city}}</td>
          <td>{{requester.status}}</td>
        </tr>
      </tbody>
      </table>
      </div>

      <div style="width: 300px;">
        <form (ngSubmit)="onSubmitBloodGroup()">
          <div class="form-group">
            <label for="bloodGroup">bloodGroup</label>
            <input type="text" class="form-control" id="bloodGroup" required [(ngModel)]="bloodGroup" name="bloodGroup">
          </div>
       
          <div class="btn-group">
            <button type="submit" class="btn btn-success">Submit</button>
          </div>
        </form>
    </div>
      <br/>
      <div>
          <table class="table table-striped">
              <thead>
                  <tr>
                   <th>Donor ID</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>BloodGroup</th>
                    <th>Status</th>
                  </tr>
                </thead>
          <tbody>
            <tr *ngFor="let donor of donors">
              <td>{{donor.donorId}}</td>
              <td>{{donor.firstName}}</td>
              <td>{{donor.lastName}}</td>
              <td>{{donor.bloodGroup}}</td>
              <td>{{donor.status}}</td>
            </tr>
          </tbody>
          </table>
          </div>