<mat-toolbar color="primary" class="navbar">
  <div>BLOOD BANK MANAGEMENT SYSTEM</div>
  <div>
    <button mat-button><a routerLink="admin" class="btn btn-primary active" routerLinkActive="active">ADMIN</a></button>
    <button mat-button><a routerLink="donor" class="btn btn-primary active" routerLinkActive="active">DONOR</a></button>
    <button mat-button><a routerLink="requester" class="btn btn-primary active" routerLinkActive="active">REQUESTER</a></button>
  </div>
</mat-toolbar>
<router-outlet></router-outlet>