<div *ngIf="requester">
    <div>
        <label>Patient Name: </label> {{requester.patientName}}
    </div>
    <div>
        <label>Required BloodGroup: </label> {{requester.requiredBloodGroup}}
    </div>
    <div>
        <label>City: </label> {{requester.city}}
    </div>
    <div>
        <label>Contact Name: </label> {{requester.contactName}}
    </div>
    <span class="button is-small btn-info" (click)="acceptRequester()">Accept</span>
    <span class="button is-small btn-info" (click)="rejectRequester()">Reject</span>
    <hr/>
</div>