<div *ngIf="donor">
    <div>
        <label>FirstName: </label> {{donor.firstName}}
    </div>
    <div>
        <label>LastName: </label> {{donor.lastName}}
    </div>
    <div>
        <label>City: </label> {{donor.city}}
    </div>
    <div>
        <label>BloodGroup: </label> {{donor.bloodGroup}}
    </div>
    <span class="button is-small btn-info" (click)="acceptDonor()">Accept</span>
    <span class="button is-small btn-info" (click)="rejectDonor()">Reject</span>
    <hr/>
</div>